<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block header %}{% endblock %}
<title>{% include 'title.html' %}</title>
{% include 'style.html' %}
<link rel="stylesheet" type="text/css" href="styles/osmforum/theme/style_extended.css" />
<link rel="icon" type="image/png" href="styles/osmforum/theme/img/favicon.ico" />
</head>

<body>
    {% block body %}{% endblock %}
</body>
</html>
